ion-content ion-toolbar {
  --background: translucent;
}
h1{
  color: white;
  text-align: center;
}
ion-content {
  --background: BLACK;
}
p{
  width:80%;
  margin: auto;
  background:#FFA500;
  margin-bottom:70%;
}