<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pagina 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Ionic Buttons</h1>
  <p>Tipos de botones</p>
   <ion-button color ="danger" expand="full" fill="outline">Prueba </ion-button>
   <ion-button color ="warning" expand="block">Prueba </ion-button>
   <ion-button color ="dark" expand="full">Prueba </ion-button>
   <ion-button color ="light" size = "small"expand="full">Prueba </ion-button>
   <ion-button color ="success" expand="full">Prueba </ion-button>
   <ion-button color ="medium" fill="outline" expand="full">Prueba </ion-button>
   <ion-button color ="danger" expand="full">Prueba </ion-button>
</ion-content>
